<section class="cart py-16">
    <% if(session.cart) {%>
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="Cart-black">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list">

            <% for(let pizza of Object.values(session.cart.items)) { %>
            <div class="flex  my-8">

                <img class="w-24" src="img/pizza.png" alt="Pizza image">

                <div class="flex-1 ml-4">
                    <h1><%= pizza.item.name %></h1>
                    <span><%= pizza.item.size %></span>
                </div>

                <span class="flex-1"><%= pizza.qty %> Pcs</span>
                <span class="text-bold text-lg">₹ <%= pizza.item.price * pizza.qty %></span>

            </div>
            <%  } %>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold ">Total amount:</span>
                <span class="amount text-2xl font-bold ml-2">₹<%= session.cart.totalPrice %></span>
            </div>
            <% if(user) { %>
            <div>
                <form action="/orders" method="POST" class="mt-12" id="payment-form">
                    <div class="relative w-1/2 ml-auto mb-4">
                        <select id="paymentType" name="paymentType" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline">
                          <option value="cod">Cash on delivery(COD)</option>
                          <option value="card">Pay with card</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                        </div>
                    </div>


                    <input name="phone" type="text" class="border border-gray-400 p-2 xl:w-1/2 mb-4" placeholder="Phone number">
                    <input name="address" type="text" class="border border-gray-400 p-2 xl:w-1/2" placeholder="Address">
                    <div>
                        <div id="card-element">
                            
                        </div>
                        <button type="submit" class="px-6 py-2 rounded-full text-white mt-4 font-bold btn-primary">Order now</button>
                    </div>
                </form>
            </div>
            <% } else { %>
            <a href="/login" class="inline-block cursor-pointer px-6 py-2 rounded-full text-white mt-4 font-bold btn-primary">Login to continue</a>
            <% } %>
        </div>
    </div>
    <% } else { %>


    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-2">Cart empty..!</h1>
            <p class="text-lg mb-12">You probably havent ordered a pizza yet.<br>
                To order a pizza, go to main page.
            </p>
            <img src="img/empty-cart.png" alt="image" class="w-2/5 mx-auto">
            <button class="px-6 py-2 rounded-full text-white mt-4 font-bold btn-primary"><a href="/">Go back</a></button>
        </div>
    </div>
    <% } %>
    
</section>

